* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.275);
}

.whatsapp {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
  }
}